.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items : center;
}
.vv{
    width: 1280px;
}
.view_box{
    border: 1px solid black;
    border-radius: 15px;
    padding : 20px
}
.update_btn{
    background-color: #535bf2;
    color: white;

}